---
import MainLayout from '../../layouts/MainLayout.astro';

export function getStaticPaths() {
  return [
    { params: { id: 0 } },
    { params: { id: 1 } },
    { params: { id: 2 } },
    { params: { id: 3 } },
    { params: { id: 4 } },
    { params: { id: 5 } },
  ];
}

const properties = [
  {
    name: 'Vendo linda casa en Zona 15',
    image: '/public/img/zona-15.jpg',
    department: 'Ciudad de Guatemala',
    type: 'Venta',
    description:
      'Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse tempora ipsa dignissimos sit facere? Eos, ipsa praesentium autem repellat qui libero dolorum, ea vero nam, tenetur quo facere eum quasi veritatis voluptatem asperiores neque itaque? Eius ratione neque non facilis error quas libero quia dolores eos praesentium doloremque excepturi veniam magnam, obcaecati tenetur, sunt atque. Architecto dignissimos saepe doloremque tempore iure quae, officia deleniti nemo est corporis placeat quasi aliquam impedit et dolorum ducimus eum hic incidunt? Laborum ipsum nulla quis veritatis eligendi blanditiis, ipsam sequi molestiae, alias exercitationem nemo. Exercitationem velit ab officia dolore illum necessitatibus debitis autem accusamus sunt? Maiores vero suscipit nostrum iusto quis eveniet. Reiciendis repellat debitis labore illum quasi id aut saepe officia dolores distinctio voluptatem ullam sequi totam modi excepturi nam aperiam ad quia mollitia incidunt, libero accusamus ut quisquam exercitationem. Repudiandae illo obcaecati odit, accusantium modi provident, quaerat laborum sunt saepe cum quas dolorum, blanditiis asperiores. Facilis voluptatibus cum, aut ipsum, id iusto ex sed ipsam assumenda, consequuntur quasi consectetur? Ut praesentium possimus odio autem cum recusandae labore molestias deserunt fugit expedita ea voluptatibus quas officiis sequi a dolorum, error minus dolorem nemo quaerat voluptatum soluta, fugiat mollitia? Adipisci labore ex dicta possimus!',
    link: '/',
    price: 2000.0,
  },
  {
    name: 'Casa en Olmeca',
    image: '/public/img/olmeca.jpg',
    department: 'Carretera a El Salvador',
    type: 'Renta',
    description:
      'Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse tempora ipsa dignissimos sit facere? Eos, ipsa praesentium autem repellat qui libero dolorum, ea vero nam, tenetur quo facere eum quasi veritatis voluptatem asperiores neque itaque? Eius ratione neque non facilis error quas libero quia dolores eos praesentium doloremque excepturi veniam magnam, obcaecati tenetur, sunt atque. Architecto dignissimos saepe doloremque tempore iure quae, officia deleniti nemo est corporis placeat quasi aliquam impedit et dolorum ducimus eum hic incidunt? Laborum ipsum nulla quis veritatis eligendi blanditiis, ipsam sequi molestiae, alias exercitationem nemo. Exercitationem velit ab officia dolore illum necessitatibus debitis autem accusamus sunt? Maiores vero suscipit nostrum iusto quis eveniet. Reiciendis repellat debitis labore illum quasi id aut saepe officia dolores distinctio voluptatem ullam sequi totam modi excepturi nam aperiam ad quia mollitia incidunt, libero accusamus ut quisquam exercitationem. Repudiandae illo obcaecati odit, accusantium modi provident, quaerat laborum sunt saepe cum quas dolorum, blanditiis asperiores. Facilis voluptatibus cum, aut ipsum, id iusto ex sed ipsam assumenda, consequuntur quasi consectetur? Ut praesentium possimus odio autem cum recusandae labore molestias deserunt fugit expedita ea voluptatibus quas officiis sequi a dolorum, error minus dolorem nemo quaerat voluptatum soluta, fugiat mollitia? Adipisci labore ex dicta possimus!',
    link: '/',
    price: 2000.0,
  },
  {
    name: 'Casa en Santiago',
    image: '/public/img/santiago.jpg',
    department: 'Ciudad de Guatemala',
    type: 'Venta',
    description:
      'Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse tempora ipsa dignissimos sit facere? Eos, ipsa praesentium autem repellat qui libero dolorum, ea vero nam, tenetur quo facere eum quasi veritatis voluptatem asperiores neque itaque? Eius ratione neque non facilis error quas libero quia dolores eos praesentium doloremque excepturi veniam magnam, obcaecati tenetur, sunt atque. Architecto dignissimos saepe doloremque tempore iure quae, officia deleniti nemo est corporis placeat quasi aliquam impedit et dolorum ducimus eum hic incidunt? Laborum ipsum nulla quis veritatis eligendi blanditiis, ipsam sequi molestiae, alias exercitationem nemo. Exercitationem velit ab officia dolore illum necessitatibus debitis autem accusamus sunt? Maiores vero suscipit nostrum iusto quis eveniet. Reiciendis repellat debitis labore illum quasi id aut saepe officia dolores distinctio voluptatem ullam sequi totam modi excepturi nam aperiam ad quia mollitia incidunt, libero accusamus ut quisquam exercitationem. Repudiandae illo obcaecati odit, accusantium modi provident, quaerat laborum sunt saepe cum quas dolorum, blanditiis asperiores. Facilis voluptatibus cum, aut ipsum, id iusto ex sed ipsam assumenda, consequuntur quasi consectetur? Ut praesentium possimus odio autem cum recusandae labore molestias deserunt fugit expedita ea voluptatibus quas officiis sequi a dolorum, error minus dolorem nemo quaerat voluptatum soluta, fugiat mollitia? Adipisci labore ex dicta possimus!',
    link: '/',
    price: 2000.0,
  },
];

const { id } = Astro.params;
let property = properties[id];
---

<MainLayout>
  <section class='p-10 md:p-20'>
    <h1 class='text-5xl font-semibold'>{property.name ? property.name : ''}</h1>
    <p class='my-10 text-lg'>
      {property.description ? property.description : ''}
    </p>
    <img src={property.image ? property.image : ''} class='w-3/4 mx-auto' />
  </section>
</MainLayout>
